<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <script src="/static/webcomponentsjs/webcomponents-lite.min.js"></script>
    <title>Authenticate</title>
    <link rel="import" href="/static/paper-button/paper-button.html">
    <link rel="import" href="/static/paper-card/paper-card.html">
	  <link rel="import" href="/static/paper-header-panel/paper-header-panel.html">
	  <link rel="import" href="/static/paper-toolbar/paper-toolbar.html">
    <style>
      body {
        font-family: 'Helvetica Neue';
        margin: 0;
        padding: 24px;
        user-select: none;
        transform: translateZ(0);
      }

      paper-button {
        margin: 1em;
        width: 10em;
      }

      paper-button.colored {
        color: #4285f4;
        fill: #4285f4;
      }
      paper-card{
        width: 100%;
        margin-bottom: 1em;
      }
      .delete{
        position: absolute;
        right: 5px;
        top: 5px;
      }

    </style>
  </head>
  <body>
    <paper-header-panel>
    <paper-toolbar>
   <h1>Broadcasts</h1>
 </paper-toolbar>
  </paper-header-panel>
<% for(var i=0; i<data.length; i++) {%>
   <!--<li><%= data[i].post.results %> : <%= data[i].post.results %></li>-->
        <paper-card class='fancy'>
            <div class="card-content">
              <div class="title">
                <div class="medium"><a href="#">Title: <%= data[i].title %></a></div>
              </div>
              <div class="medium"><a href="#">User: <%= data[i].user %></a></div>
              <div class="small"><%= data[i].post.results %></div>
              <div class="delete"><button>Delete</button></div>
            </div>
        </paper-card><br/>
<% } %>

<!--     <form method="post" action="/">
  <input type="test" name="field1">
  <input type="test" name="field2">
  <input type="submit">
</form> -->

  </body>
</html>
 